<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Categoria</title>
    <div th:replace="~{fragmentos :: bootstrap}"></div>
</head>

<body>
    <div th:replace="~{fragmentos :: menu}"></div>
    
	<a th:href="@{/Categoria/Nueva}" class="btn btn-primary mb-3">➕ Nueva Categoria</a>
	<table class="table table-bordered table-striped">
			<thead class="table-dark">
				<tr>
					<th>Nombre</th>
					<th>Descripción</th>
					<th>Acciones</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="categoria : ${Categorias}">
					<td th:text="${categoria.nombreCategoria}"></td>
					<td th:text="${categoria.descripcion}"></td>
					<td>
						<a th:href="@{'/Categoria/editar/' + ${categoria.uuid}}" class="btn btn-warning">✏️ Editar</a>
						<a th:href="@{'/Categoria/eliminar/' + ${categoria.uuid}}" class="btn btn-danger" onclick=" return confirm('¿Estás seguro?')">🗑️ Eliminar</a>
					</td>
				</tr>
			</tbody>
		</table>

</body>

</html>
